@import url(http://weloveiconfonts.com/api/?family=entypo);
body{
	/*background-color: #BCBCBC;*/
	background-color:#424242;
}
h1{
	color: #3299bb;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding-top:10px;
	padding-left:50px;
	text-decoration:none;
	
}
/* unvisited link */
h1 a:link {
    color: #3299bb;
}
/* visited link */
h1 a:visited {
    color: #3299bb;
}
/* mouse over link */
h1 a:hover {
    color: #3299bb;
}
/* selected link */
h1 a:active {
    color: #3299bb;
}
#header-wrapper{
	background-color:#BCBCBC;
	height:75px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;	
}
#navbar{
	background-color:#424242;
	position:absolute;
	height:50px;
	top:75px;
	right:0;
	left:0;
	font-family: 'Alegreya Sans SC', sans-serif;
	
}
#navbar ul{
	list-style-type: none;
	height:50px;
	margin:0;
	padding:0;
}
#navbar ul li:hover{
	color: #3299bb;
	background-color:#BCBCBC;
}
#navbar ul li {
	padding:0;
	width:150px;
	height:50px;
	color:#FF9900;
	font-size: 20px;
	text-align:center;
	display: inline-block;
	background-color:#424242;
}
#navbar ul li a{
	padding:10px;
	height:50px;
	color: #FF9900;
	text-align:center;
	display: block;
	vertical-align:middle;
	text-decoration:none;		
}
#navbar ul li a:visited {
    color: #FF9900;
}
/* mouse over link */
#navbar ul li a:hover {
    color: #3299bb;
}
/* selected link */
#navbar ul li a:active {
    color: #FF9900;
}
#left-menu{
	right:0;
	bottom:0;
	top:75px;
	width:200px;	
	position:absolute;
	background-color:#424242;
}
/*Title within Description*/
#title{
	color:#3299bb;
	font-family: 'Roboto', sans-serif;
}
#desc{
	color:#3299bb;
	width:100px;
	padding-left:45px;
	padding-top:0px;
	text-align:center;
	font-family: 'roboto', sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 12px;
}
#profile{
	
	width: 120px;
	height: 120px;
	margin-left:35px;
	margin-top:30px;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	
	background: url(https://lh3.googleusercontent.com/-XA0kBMF2MuM/AAAAAAAAAAI/AAAAAAAAARc/vdu0zPd3r4A/s120-c/photo.jpg) no-repeat;
}
#footer-wrapper{
	background-color:#424242;
	color:#3299bb;
	height:75px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
/*entypo*/ 
[class*="entypo-"]:before {
	color:#3299bb;
	display: inline-block;
	width: 30px;
	height: 50px;
	line-height: 50px;
	font-family: 'entypo', sans-serif;
	font-size: 28px;
	text-align: center;
  
}








